In [30]:
import pandas as pd
import datetime

In [11]:
#df = pd.read_csv("/home/david/Documentos/Projects VS/Projeto dataviz/Projeto_DataViz/fipe_cars.csv")
df = pd.read_csv("https://raw.githubusercontent.com/DavidTitoInfantas/Projeto_DataViz/main/fipe_cars.csv")

In [12]:
df.head()

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021,January,038001-6,tlp4qry07m,Acura,NSX 3.0,Gasoline,manual,3.0,1995,40374.0
1,2021,January,038001-6,s1wksdv9by,Acura,NSX 3.0,Gasoline,manual,3.0,1994,38939.0
2,2021,January,038001-6,skrbcfnkch,Acura,NSX 3.0,Gasoline,manual,3.0,1993,37648.0
3,2021,January,038001-6,rxzh76d5db,Acura,NSX 3.0,Gasoline,manual,3.0,1992,35962.0
4,2021,January,038001-6,qrm322tpd8,Acura,NSX 3.0,Gasoline,manual,3.0,1991,32863.0

In [16]:
df.isnull().sum()

year_of_reference     0
month_of_reference    0
fipe_code             0
authentication        0
brand                 0
model                 0
fuel                  0
gear                  0
engine_size           0
year_model            0
avg_price_brl         0
dtype: int64

In [17]:
df.isna().sum()

year_of_reference     0
month_of_reference    0
fipe_code             0
authentication        0
brand                 0
model                 0
fuel                  0
gear                  0
engine_size           0
year_model            0
avg_price_brl         0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574504 entries, 0 to 574503
Data columns (total 11 columns):
year_of_reference     574504 non-null int64
month_of_reference    574504 non-null object
fipe_code             574504 non-null object
authentication        574504 non-null object
brand                 574504 non-null object
model                 574504 non-null object
fuel                  574504 non-null object
gear                  574504 non-null object
engine_size           574504 non-null float64
year_model            574504 non-null int64
avg_price_brl         574504 non-null float64
dtypes: float64(2), int64(2), object(7)
memory usage: 48.2+ MB

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year_of_reference,574504.0,2021.505262,0.499973,2021.0,2021.0,2022.0,2022.00,2022.0
engine_size,574504.0,2.266767,1.031866,0.7,1.6,2.0,2.80,6.7
year_model,574504.0,2008.738115,9.181865,1985.0,2001.0,2010.0,2016.00,2023.0
avg_price_brl,574504.0,110880.987382,288925.265262,1679.0,20064.0,42781.0,96412.25,8600000.0

In [29]:
pd.crosstab(df['brand'],[df['year_of_reference'],df['month_of_reference']],margins=True,margins_name='Total').sort_values(by='Total',ascending=False)

year_of_reference    2021                                                 \
month_of_reference  April August December February January   July   June
brand
Total               23472  23862    24013    23330   23289  23786  23729
VW - VolksWagen      2313   2333     2338     2303    2302   2334   2324
GM - Chevrolet       2281   2315     2326     2276    2277   2306   2301
Fiat                 2175   2201     2208     2181    2179   2198   2193
Ford                 1998   2005     2013     1998    1998   2004   2004
Mercedes-Benz        1424   1431     1430     1397    1393   1427   1430
Renault              1241   1249     1248     1218    1217   1243   1242
Audi                  967    972     1003      961     957    972    968
Peugeot               895    911      915      898     897    904    899
Toyota                841    844      853      818     818    843    843
Mitsubishi            832    848      847      822     822    842    842
BMW                   795    835      838      800     799    827    810
Citroën               718    726      722      719     719    722    724
Hyundai               573    610      630      574     574    610    610
Nissan                571    578      583      568     568    574    574
Land Rover            550    565      571      526     524    562    562
Porsche               519    557      557      507     505    552    551
Volvo                 496    497      510      501     493    496    496
Honda                 469    469      471      469     464    470    470
Kia Motors            450    453      456      449     449    452    451
Subaru                341    342      341      340     338    342    341
Suzuki                318    323      324      316     314    323    323
Jeep                  266    288      299      267     267    289    286
Jaguar                224    228      227      222     221    225    223
MINI                  189    196      195      191     191    194    190
Chrysler              152    152      152      152     152    152    152
Lexus                 137    139      140      133     132    139    139
Caoa Chery            114    125      127      113     113    125    121
Maserati              116    114      113      116     114    114    116
SSANGYONG             105    105      103      105     105    105    105
...                   ...    ...      ...      ...     ...    ...    ...
Asia Motors            19     19       19       19      19     19     19
Engesa                 19     19       19       19      19     19     19
Envemo                 19     19       19       19      19     19     19
Wake                   17     17       17       17      17     17     17
Walk                   14     14       16       14      14     14     14
Acura                  15     15       15       15      15     15     15
Isuzu                  11     11       11       11      11     11     11
Cadillac               11     11       11       11      11     11     11
Matra                  10     10       10       10      10     10     10
TAC                    10      9        9       10      10      9     10
RELY                    9      9        9        9       9      9      9
AM Gen                  9      9        9        9       9      9      9
CBT Jipe                8      8        8        8       8      8      8
CHANGAN                 8      8        8        8       8      8      8
JPX                     8      8        8        8       8      8      8
Pontiac                 7      7        7        7       7      7      7
Plymouth                6      6        6        6       6      6      6
Cross Lander            5      5        5        5       5      5      5
MG                      5      5        5        5       5      5      5
LOBINI                  4      4        4        4       4      4      4
CAB Motors              0      4        4        0       0      0      0
GREAT WALL              3      3        3        3       3      3      3
Rover                   3      3        3        3       3      3      3
Mercury                 3      3        3        3       3      3      3
SHINERAY                2      2        2        2       2      2      2
Lotus                   2      2        2        2       2      2      2
Saturn                  2      2        2        2       2      2      2
GEELY                   2      2        2        2       2      2      2
Saab                    2      2        2        2       2      2      2
Buggy                   0      0        0        0       6      0      0

year_of_reference                          ...     2022                        \
month_of_reference  March    May November  ... February January   July   June
brand                                      ...
Total               23375  23557    23988  ...    24094   24031  24165  24123
VW - VolksWagen      2312   2315     2338  ...     2343    2344   2344   2343
GM - Chevrolet       2277   2284     2325  ...     2322    2325   2364   2358
Fiat                 2172   2175     2208  ...     2214    2207   2196   2205
Ford                 1998   2002     2010  ...     2019    2012   2012   2012
Mercedes-Benz        1385   1428     1430  ...     1447    1433   1467   1449
Renault              1236   1242     1246  ...     1248    1248   1275   1265
Audi                  967    967      996  ...     1006    1002   1013   1011
Peugeot               897    897      916  ...      918     915    930    923
Toyota                834    841      843  ...      874     852    853    865
Mitsubishi            823    836      848  ...      846     846    853    852
BMW                   792    798      839  ...      838     840    836    831
Citroën               719    722      724  ...      723     723    728    728
Hyundai               575    587      631  ...      630     630    616    610
Nissan                567    574      585  ...      582     584    570    569
Land Rover            536    560      575  ...      579     576    577    576
Porsche               509    519      558  ...      557     557    560    558
Volvo                 501    496      508  ...      508     509    497    500
Honda                 469    469      471  ...      475     475    479    479
Kia Motors            449    450      455  ...      456     456    453    453
Subaru                341    341      341  ...      343     343    345    348
Suzuki                317    318      323  ...      324     324    320    320
Jeep                  267    267      297  ...      299     299    302    302
Jaguar                225    223      229  ...      229     227    229    230
MINI                  189    189      195  ...      195     195    192    195
Chrysler              152    152      152  ...      152     152    152    152
Lexus                 135    139      140  ...      141     140    148    148
Caoa Chery            114    117      128  ...      128     127    131    130
Maserati              116    116      113  ...      113     113    115    115
SSANGYONG             105    105      103  ...       99      99     97     97
...                   ...    ...      ...  ...      ...     ...    ...    ...
Asia Motors            19     19       19  ...       19      19     19     19
Engesa                 19     19       19  ...       19      19     19     19
Envemo                 19     19       19  ...       19      19     19     19
Wake                   17     17       17  ...       19      19     20     20
Walk                   14     14       16  ...       16      16     17     17
Acura                  15     15       15  ...       15      15     15     15
Isuzu                  11     11       11  ...       11      11     11     11
Cadillac               11     11       11  ...       11      11     11     11
Matra                  10     10       10  ...       10      10     10     10
TAC                    10     10        9  ...        9       9      9      9
RELY                    9      9        9  ...        9       9      9      9
AM Gen                  9      9        9  ...        9       9      9      9
CBT Jipe                8      8        8  ...        8       8      8      8
CHANGAN                 8      8        8  ...        8       8      8      8
JPX                     8      8        8  ...        8       8      8      8
Pontiac                 7      7        7  ...        7       7      7      7
Plymouth                6      6        6  ...        6       6      6      6
Cross Lander            5      5        5  ...        5       5      5      5
MG                      5      5        5  ...        5       5      5      5
LOBINI                  4      4        4  ...        4       4      4      4
CAB Motors              0      0        4  ...        4       4      5      5
GREAT WALL              3      3        3  ...        3       3      3      3
Rover                   3      3        3  ...        3       3      3      3
Mercury                 3      3        3  ...        3       3      3      3
SHINERAY                2      2        2  ...        2       2      2      2
Lotus                   2      2        2  ...        2       2      2      2
Saturn                  2      2        2  ...        2       2      2      2
GEELY                   2      2        2  ...        2       2      2      2
Saab                    2      2        2  ...        2       2      2      2
Buggy                   0      0        0  ...        0       0      0      0

year_of_reference                                             Total
month_of_reference  March    May November October September
brand
Total               24168  24057    24366   24333     24324  574504
VW - VolksWagen      2343   2338     2349    2355      2350   56025
GM - Chevrolet       2335   2327     2365    2365      2365   55792
Fiat                 2214   2204     2233    2234      2226   52853
Ford                 2021   2006     2013    2013      2012   48188
Mercedes-Benz        1450   1449     1469    1464      1462   34507
Renault              1269   1263     1271    1272      1275   30070
Audi                 1006   1003     1037    1019      1022   23845
Peugeot               918    921      938     939       937   21985
Toyota                874    864      853     853       853   20375
Mitsubishi            846    850      846     847       855   20245
BMW                   839    833      844     843       844   19870
Citroën               726    727      747     745       730   17447
Hyundai               630    611      631     629       635   14709
Nissan                580    566      574     573       571   13785
Land Rover            581    577      585     585       588   13650
Porsche               557    556      585     585       584   13232
Volvo                 507    500      508     508       511   12066
Honda                 479    479      469     469       475   11343
Kia Motors            456    453      460     460       457   10895
Subaru                343    348      345     345       345    8229
Suzuki                324    321      323     323       323    7712
Jeep                  307    302      316     306       302    7034
Jaguar                232    229      239     239       237    5491
MINI                  197    195      199     199       197    4665
Chrysler              152    152      152     152       152    3648
Lexus                 141    148      145     146       149    3404
Caoa Chery            131    127      137     137       137    3032
Maserati              113    113      114     114       115    2743
SSANGYONG              99     99       97      97        97    2428
...                   ...    ...      ...     ...       ...     ...
Asia Motors            19     19       19      19        19     456
Engesa                 19     19       19      19        19     456
Envemo                 19     19       19      19        19     456
Wake                   19     20       22      22        22     449
Walk                   16     16       18      17        17     375
Acura                  15     15       15      15        15     360
Isuzu                  11     11       11      11        11     264
Cadillac               11     11       11      11        11     264
Matra                  10     10       10      10        10     240
TAC                     9      9        9       9         9     222
RELY                    9      9        9       9         9     216
AM Gen                  9      9        9       9         9     216
CBT Jipe                8      8        8       8         8     192
CHANGAN                 8      8        8       8         8     192
JPX                     8      8        8       8         8     192
Pontiac                 7      7        7       7         7     168
Plymouth                6      6        6       6         6     144
Cross Lander            5      5        5       5         5     120
MG                      5      5        5       5         5     120
LOBINI                  4      4        4       4         4      96
CAB Motors              4      4        5       5         5      74
GREAT WALL              3      3        3       3         3      72
Rover                   3      3        3       3         3      72
Mercury                 3      3        3       3         3      72
SHINERAY                2      2        2       2         2      48
Lotus                   2      2        2       2         2      48
Saturn                  2      2        2       2         2      48
GEELY                   2      2        2       2         2      48
Saab                    2      2        2       2         2      48
Buggy                   0      0        0       0         0       6

[88 rows x 25 columns]

In [34]:
df.columns

Index(['year_of_reference', 'month_of_reference', 'fipe_code',
       'authentication', 'brand', 'model', 'fuel', 'gear', 'engine_size',
       'year_model', 'avg_price_brl'],
      dtype='object')

In [46]:
df['date_of_reference'] = df['year_of_reference'].astype(str)+'-'+df['month_of_reference']

In [49]:
df['date_of_reference'] = pd.to_datetime(df['date_of_reference']).dt.to_period('M')

In [50]:
df.head()

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl,date_of_reference
0,2021,January,038001-6,tlp4qry07m,Acura,NSX 3.0,Gasoline,manual,3.0,1995,40374.0,2021-01
1,2021,January,038001-6,s1wksdv9by,Acura,NSX 3.0,Gasoline,manual,3.0,1994,38939.0,2021-01
2,2021,January,038001-6,skrbcfnkch,Acura,NSX 3.0,Gasoline,manual,3.0,1993,37648.0,2021-01
3,2021,January,038001-6,rxzh76d5db,Acura,NSX 3.0,Gasoline,manual,3.0,1992,35962.0,2021-01
4,2021,January,038001-6,qrm322tpd8,Acura,NSX 3.0,Gasoline,manual,3.0,1991,32863.0,2021-01

In [51]:
df.columns

Index(['year_of_reference', 'month_of_reference', 'fipe_code',
       'authentication', 'brand', 'model', 'fuel', 'gear', 'engine_size',
       'year_model', 'avg_price_brl', 'date_of_reference'],
      dtype='object')

In [53]:
df_clean = df[['date_of_reference','brand', 'model', 'fuel', 'gear', 'engine_size',
       'year_model', 'avg_price_brl']]

In [54]:
df_clean.head()

,date_of_reference,brand,model,fuel,gear,engine_size,year_model,avg_price_brl
0,2021-01,Acura,NSX 3.0,Gasoline,manual,3.0,1995,40374.0
1,2021-01,Acura,NSX 3.0,Gasoline,manual,3.0,1994,38939.0
2,2021-01,Acura,NSX 3.0,Gasoline,manual,3.0,1993,37648.0
3,2021-01,Acura,NSX 3.0,Gasoline,manual,3.0,1992,35962.0
4,2021-01,Acura,NSX 3.0,Gasoline,manual,3.0,1991,32863.0